In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4) (4.6.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)

In [2]:
from bs4 import BeautifulSoup
import requests

## **1. Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.**

In [4]:
page=requests.get('https://en.wikipedia.org/wiki/Main_Page')
print(page)

soup=BeautifulSoup(page.content)

<Response [200]>

In [5]:
title=soup.find_all(['h1','h2','h3','h4','h5'])
print(*title,sep='\n\n')

<h1 class="firstHeading" id="firstHeading">Main Page</h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 class="vector-menu-heading" id="p-personal-label">
<span>Personal tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-namespaces-label">
<span>Namespaces</span>
</h3>

<h3 class="vector-menu-heading" id="p-variants-label">
<span>Variants</span>
</h3>

<h3 class="vector-menu-heading" id="p-views-label">
<span>Views</span>
</h3>

<h3 class="vector-menu-heading" id="p-cactions-label">
<span>More</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 class="vector-menu-heading" id="p-navigation-label">
<span>Navigation</span>
</h3>

<h3 class="vector-menu-heading" id="p-interaction-label">
<span>Contribute</span>
</h3>

<h3 class="vector-menu-heading" id="p-tb-label">
<span>Tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span>Print/export</span>
</h3>

<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span>In other projects</span>
</h3>

<h3 class="vector-menu-heading" id="p-lang-label">
<span>Languages</span>
</h3>

## **2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame.**

In [6]:
imdb_page=requests.get('https://www.imdb.com/chart/top/')
print(imdb_page)

imdb_soup=BeautifulSoup(imdb_page.content)

<Response [200]>

In [7]:
movie_name=imdb_soup.find_all('td',class_='titleColumn')

column_movie=[]
for i in movie_name:
    column_movie.append(i.text.split('\n'))
column_movie=column_movie[:100]  

movies_100=[]
for l in column_movie:
  movies_100.append(l[2].strip())
print(movies_100)

['The Shawshank Redemption', 'The Godfather', 'The Godfather: Part II', 'The Dark Knight', 'De 12 gezworenen', "Schindler's List", 'The Lord of the Rings: The Return of the King', 'Pulp Fiction', 'The Good, the Bad and the Ugly', 'The Lord of the Rings: The Fellowship of the Ring', 'Fight Club', 'Forrest Gump', 'Inception', 'The Lord of the Rings: The Two Towers', 'Star Wars: Episode V - The Empire Strikes Back', 'The Matrix', 'Goodfellas', "One Flew Over the Cuckoo's Nest", 'Shichinin no samurai', 'Seven', 'The Silence of the Lambs', 'Cidade de Deus', "It's a Wonderful Life", 'Het leven is mooi', 'Star Wars: Episode IV - A New Hope', 'Saving Private Ryan', 'Spirited Away', 'The Green Mile', 'Interstellar', 'Gisaengchung', 'Léon', 'Seppuku', 'The Usual Suspects', 'The Pianist', 'Terug naar de toekomst', 'Terminator 2: Judgment Day', 'Modern Times', 'Psycho', 'The Lion King', 'American History X', 'City Lights', 'Gladiator', 'Whiplash', 'The Departed', 'Hotaru no haka', 'The Intouchables', 'The Prestige', 'Casablanca', 'Once Upon a Time in the West', 'Rear Window', 'Nuovo Cinema Paradiso', 'Alien', 'Apocalypse Now', 'Memento', 'Indiana Jones and the Raiders of the Lost Ark', 'De dictator', 'Das Leben der Anderen', 'Django Unchained', 'Het veld van eer', 'Sunset Boulevard', 'WALL·E', 'The Shining', 'Avengers: Infinity War', 'Witness for the Prosecution', 'Joker', 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb', 'Spider-Man: Een nieuw universum', 'Mononoke-hime', 'Oldeuboi', 'Hamilton', 'Once Upon a Time in America', 'Kimi no na wa.', 'The Dark Knight Rises', 'Aliens', 'Pather Panchali', 'Coco', 'Das Boot', 'Capharnaüm', 'Tengoku to jigoku', 'Avengers: Endgame', 'American Beauty', 'Toy Story', 'Braveheart', 'Amadeus', '3 Idiots', 'Inglourious Basterds', 'Good Will Hunting', 'Star Wars: Episode VI - Return of the Jedi', '2001: Een zwerftocht in de ruimte', 'Reservoir Dogs', 'M - Eine Stadt sucht einen Mörder', 'Taare Zameen Par', 'Citizen Kane', 'Vertigo', 'Requiem for a Dream', 'Jagten', "Singin' in the Rain", 'North by Northwest', 'Idi i smotri', 'Eternal Sunshine of the Spotless Mind']

In [8]:
movie_year=imdb_soup.find_all('span',class_='secondaryInfo')
movie_year[:100]

column_year=[]
for i in movie_year[:100]:
    column_year.append(i.text.strip('()'))
print(column_year[:100])

['1994', '1972', '1974', '2008', '1957', '1993', '2003', '1994', '1966', '2001', '1999', '1994', '2010', '2002', '1980', '1999', '1990', '1975', '1954', '1995', '1991', '2002', '1946', '1997', '1977', '1998', '2001', '1999', '2014', '2019', '1994', '1962', '1995', '2002', '1985', '1991', '1936', '1960', '1994', '1998', '1931', '2000', '2014', '2006', '1988', '2011', '2006', '1942', '1968', '1954', '1988', '1979', '1979', '2000', '1981', '1940', '2006', '2012', '1957', '1950', '2008', '1980', '2018', '1957', '2019', '1964', '2018', '1997', '2003', '2020', '1984', '2016', '2012', '1986', '1955', '2017', '1981', '2018', '1963', '2019', '1999', '1995', '1995', '1984', '2009', '2009', '1997', '1983', '1968', '1992', '1931', '2007', '1941', '1958', '2000', '2012', '1952', '1959', '1985', '2004']

In [9]:
movie_rate=imdb_soup.find_all('td',class_='ratingColumn imdbRating')

column_rate=[]
for i in movie_rate[0:100]:
    column_rate.append(i.text.strip())
print(column_rate[:100])

['9.2', '9.1', '9.0', '9.0', '8.9', '8.9', '8.9', '8.8', '8.8', '8.8', '8.8', '8.7', '8.7', '8.7', '8.7', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.6', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3']

In [10]:
import pandas as pd
TopMovies=pd.DataFrame({})
TopMovies['Names']=movies_100
TopMovies['ReleaseYear']=column_year
TopMovies['Rating']=column_rate

TopMovies

                                    Names ReleaseYear Rating
0                The Shawshank Redemption        1994    9.2
1                           The Godfather        1972    9.1
2                  The Godfather: Part II        1974    9.0
3                         The Dark Knight        2008    9.0
4                        De 12 gezworenen        1957    8.9
..                                    ...         ...    ...
95                                 Jagten        2012    8.3
96                    Singin' in the Rain        1952    8.3
97                     North by Northwest        1959    8.3
98                           Idi i smotri        1985    8.3
99  Eternal Sunshine of the Spotless Mind        2004    8.3

[100 rows x 3 columns]

## **3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame.**

In [11]:
imdb_page=requests.get('https://www.imdb.com/india/top-rated-indian-movies/')
print(imdb_page)

imdb_soup=BeautifulSoup(imdb_page.content)

<Response [200]>

In [12]:
movie_name=imdb_soup.find_all('td',class_='titleColumn')

column_movie=[]
for i in movie_name:
    column_movie.append(i.text.split('\n'))
column_movie=column_movie[:100]  
column_movie

movies_100=[]
for l in column_movie:
  movies_100.append(l[2].strip())
print(movies_100)

['Pather Panchali', 'Nayakan', 'Pariyerum Perumal', 'Anbe Sivam', 'Golmaal', 'Apur Sansar', 'C/o Kancharapalem', 'Kireedam', 'Manichitrathazhu', 'Drishyam 2', 'Natsamrat', '96', 'Black Friday', 'Thevar Magan', 'Kumbalangi Nights', '3 Idiots', 'Visaaranai', 'Taare Zameen Par', 'Ratsasan', 'Jersey', 'Thalapathi', 'Dangal', 'Soorarai Pottru', 'Asuran', 'Kaithi', 'Aparajito', 'Devasuram', 'Jaane Bhi Do Yaaro', 'Pyaasa', 'Peranbu', 'Guide', 'Vada Chennai', 'Thani Oruvan', 'Kannathil Muthamittal', 'Chupke Chupke', 'Iruvar', 'Spadikam', 'Drishyam', 'Agent Sai Srinivasa Athreya', 'Vikram Vedha', 'Super Deluxe', 'Aruvi', 'Tumbbad', 'Mahanati', 'Khosla Ka Ghosla!', 'Anand', 'Pudhu Pettai', 'Premam', 'Anniyan', 'Kaakkaa Muttai', 'Andhadhun', 'Bangalore Days', 'Dhuruvangal Pathinaaru', 'Mudhalvan', 'Papanasam', 'Satya', 'Shahid', 'Soodhu Kavvum', 'Jigarthanda', 'Pithamagan', 'Gangs of Wasseypur', 'Sairat', 'Paan Singh Tomar', 'Bhaag Milkha Bhaag', 'Talvar', 'Hera Pheri', 'Swades: We, the People', 'Sholay', 'Black', 'Chak De! India', 'Ustad Hotel', 'Nil Battey Sannata', 'Jo Jeeta Wohi Sikandar', 'Charulata', 'Drishyam', 'Mughal-E-Azam', 'Maheshinte Prathikaaram', 'Zindagi Na Milegi Dobara', 'Article 15', 'Udaan', 'A Wednesday', 'Queen', 'Theeran adhigaaram ondru', 'Masaan', 'Sarfarosh', 'Munna Bhai M.B.B.S.', 'Alai Payuthey', 'Dil Chahta Hai', 'Roja', 'OMG: Oh My God!', 'Baasha', 'Rang De Basanti', 'Lagaan: Once Upon a Time in India', 'Kahaani', 'Andaz Apna Apna', 'Chhichhore', 'Uri: The Surgical Strike', 'Virumandi', 'PK', 'Lucia']

In [13]:
movie_year=imdb_soup.find_all('span',class_='secondaryInfo')

column_year=[]
for i in movie_year[:100]:
    column_year.append(i.text.strip('()'))
print(column_year[:100])

['1955', '1987', '2018', '2003', '1979', '1959', '2018', '1989', '1993', '2021', '2016', '2018', '2004', '1992', '2019', '2009', '2015', '2007', '2018', '2019', '1991', '2016', '2020', '2019', '2019', '1956', '1993', '1983', '1957', '2018', '1965', '2018', '2015', '2002', '1975', '1997', '1995', '2013', '2019', '2017', '2019', '2016', '2018', '2018', '2006', '1971', '2006', '2015', '2005', '2014', '2018', '2014', '2016', '1999', '2015', '1998', '2012', '2013', '2014', '2003', '2012', '2016', '2012', '2013', '2015', '2000', '2004', '1975', '2005', '2007', '2012', '2015', '1992', '1964', '2015', '1960', '2016', '2011', '2019', '2010', '2008', '2013', '2017', '2015', '1999', '2003', '2000', '2001', '1992', '2012', '1995', '2006', '2001', '2012', '1994', '2019', '2018', '2004', '2014', '2013']

In [14]:
movie_rate=imdb_soup.find_all('td',class_='ratingColumn imdbRating')

column_rate=[]
for i in movie_rate[0:100]:
    column_rate.append(i.text.strip())
print(column_rate[:100])

['8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.5', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.4', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.3', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.2', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1', '8.1']

In [15]:
import pandas as pd
TopMovies=pd.DataFrame({})
TopMovies['Names']=movies_100
TopMovies['ReleaseYear']=column_year
TopMovies['Rating']=column_rate

TopMovies

                       Names ReleaseYear Rating
0            Pather Panchali        1955    8.5
1                    Nayakan        1987    8.5
2          Pariyerum Perumal        2018    8.5
3                 Anbe Sivam        2003    8.5
4                    Golmaal        1979    8.5
..                       ...         ...    ...
95                Chhichhore        2019    8.1
96  Uri: The Surgical Strike        2018    8.1
97                 Virumandi        2004    8.1
98                        PK        2014    8.1
99                     Lucia        2013    8.1

[100 rows x 3 columns]

## **4. Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’**

In [19]:
book_page=requests.get('https://bookpage.com/reviews?page=1')
print(book_page)

book_soup=BeautifulSoup(book_page.content)

<Response [200]>

In [20]:
book_name=book_soup.find_all('h4',class_='italic')

column_book=[]
for i in book_name:
    column_book.append(i.text.strip())
column_book=column_book[:5]  
print(column_book)

['★ The One Hundred Years of Lenni and Margot', 'We Can’t Keep Meeting Like This', '★ The Ride of Her Life', '★ Golden Girl', 'The Road Trip']

In [21]:
book_author=book_soup.find_all('p',class_='sans bold')

column_author=[]
for i in book_author:
    column_author.append(i.text.strip())
column_author=column_author[:5]  
print(column_author)

['Marianne Cronin', 'Rachel Lynn Solomon', 'Elizabeth Letts', 'Elin Hilderbrand', "Beth O'Leary"]

In [22]:
genre_name=book_soup.find_all('p',class_='genre-links hidden-phone')

column_genre=[]
for i in genre_name:
    column_genre.append(i.text.replace('\n',''))
column_genre=column_genre[:5]  
print(column_genre)

['Fiction / Popular Fiction', 'YA / YA Fiction', 'Nonfiction / Biography / Animals', 'Fiction / Family Drama', 'Romance / Contemporary Romance']

In [ ]:
book_review=book_soup.find_all('div',class_='flex-article-content')


column_review=[]
for i in book_review:
    column_review.append(i.text.split('\n'))
column_review=column_review[:5]  


book_review=[]
for l in column_review:
  book_review.append(l[13].strip())
book_review=book_review[0:2]


book_reviews=[]
for l in column_review:
  book_reviews.append(l[15].strip())
book_reviews=book_reviews[2:4]


book_review1=[]
for l in column_review:
  book_review1.append(l[13].strip())
book_review1=book_review1[4:5]

book_review.extend(book_reviews)
book_review.extend(book_review1)

['',
 'Nghi Vo perfectly balances the new and the familiar in her magical adaptation of The Great Gatsby.',
 'Read the Review',
 '',
 '']

In [46]:
book_review=book_soup.find_all('div',class_='flex-article-content')


column_review=[]
for i in book_review:
    column_review.append(i.text.split('\n'))
column_review=column_review[:5] 

book_review=[]
for l in column_review:
  book_review.append(l[13].strip())
book_review=book_review[0:2]

book_reviews=[]
for l in column_review:
  book_reviews.append(l[15].strip())
book_reviews=book_reviews[2:3]

book_review1=[]
for l in column_review:
  book_review1.append(l[13].strip())
book_review1=book_review1[3:5]

book_review.extend(book_reviews)
book_review.extend(book_review1)

book_review

['Even in the face of death’s inevitability, friendship can be found, forgiveness can flourish and fun can ease fear.',
 "Though Quinn dutifully plays the harp for her family's wedding-planning business, Borrowed + Blue, she doesn't believe in romance anymore, especially not the kind that starts with grand gestures and always ends in heartbreak.",
 'This is a feel-good story in every way, and Elizabeth Letts keeps the momentum lively, sprinkling in interesting historical tidbits that enrich the drama.',
 'Killing off the main character just a few pages into a book is somewhat unorthodox, but it’s just the first of many interesting choices Elin Hilderbrand makes.',
 'In Beth O’Leary’s The Road Trip, the path to hell (and happy ever after) is paved with exes and their besties.']

In [47]:
import pandas as pd
BookDetails=pd.DataFrame({})
BookDetails['Names']=column_book
BookDetails['AuthorName']=column_author
BookDetails['Genre']=column_genre
BookDetails['BookReview']=book_review

BookDetails

                                         Names  ...                                         BookReview
0  ★ The One Hundred Years of Lenni and Margot  ...  Even in the face of death’s inevitability, fri...
1              We Can’t Keep Meeting Like This  ...  Though Quinn dutifully plays the harp for her ...
2                       ★ The Ride of Her Life  ...  This is a feel-good story in every way, and El...
3                                ★ Golden Girl  ...  Killing off the main character just a few page...
4                                The Road Trip  ...  In Beth O’Leary’s The Road Trip, the path to h...

[5 rows x 4 columns]

## **5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape: i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.**

In [49]:
icc_page=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
print(icc_page)

icc_soup=BeautifulSoup(icc_page.content)

<Response [200]>

In [52]:
team_name=icc_soup.find_all('span',class_='u-hide-phablet')
team_name[0:10]

column_team=[]
for i in team_name:
    column_team.append(i.text.strip('[]'))
column_team=column_team[:10]  
print(column_team)

['New Zealand', 'Australia', 'India', 'England', 'South Africa', 'Pakistan', 'Bangladesh', 'West Indies', 'Sri Lanka', 'Afghanistan']

In [53]:
team_matches=icc_soup.find_all('td',class_='rankings-block__banner--matches')

team_match=icc_soup.find_all('td',class_='table-body__cell u-center-text')

column_matches=[]
for i in team_matches:
    column_matches.append(i.text.strip())

for i in range(0,len(team_match),2):
    column_matches.append(team_match[i].text.strip())
column_matches=column_matches[0:10]
column_matches

['17', '25', '29', '27', '20', '24', '27', '27', '24', '17']

In [56]:
team_points=icc_soup.find_all('td',class_='rankings-block__banner--points')

team_match=icc_soup.find_all('td',class_='table-body__cell u-center-text')

column_points=[]
for i in team_points:
    column_points.append(i.text.strip())
column_points

for i in range(1,len(team_match),2):
    column_points.append(team_match[i].text.strip())
column_points=column_points[0:10]
print(column_points)

['2,054', '2,945', '3,344', '3,100', '2,137', '2,323', '2,438', '2,222', '1,876', '1,054']

In [57]:
team_rating=icc_soup.find_all('td',class_='rankings-block__banner--rating u-text-right')

column_rating=[]
for i in team_rating:
    column_rating.append(i.text.strip())

team_rating=icc_soup.find_all('td',class_='table-body__cell u-text-right rating')

for i in team_rating:
    column_rating.append(i.text.strip())
column_rating=column_rating[0:10]
column_rating

['121', '118', '115', '115', '107', '97', '90', '82', '78', '62']

In [58]:
import pandas as pd
MenTeam10=pd.DataFrame({})
MenTeam10['Team']=column_team
MenTeam10['Matches']=column_matches
MenTeam10['Points']=column_points
MenTeam10['Ratings']=column_rating

MenTeam10

           Team Matches Points Ratings
0   New Zealand      17  2,054     121
1     Australia      25  2,945     118
2         India      29  3,344     115
3       England      27  3,100     115
4  South Africa      20  2,137     107
5      Pakistan      24  2,323      97
6    Bangladesh      27  2,438      90
7   West Indies      27  2,222      82
8     Sri Lanka      24  1,876      78
9   Afghanistan      17  1,054      62

## **ii) Top 10 ODI Batsmen in men along with the records of their team and rating.**

In [59]:
icc_page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
print(icc_page)

icc_soup=BeautifulSoup(icc_page.content)

<Response [200]>

In [62]:
player_name=icc_soup.find_all('div',class_='rankings-block__banner--name-large')

column_name=[]
for i in player_name:
    column_name.append(i.text.strip())

player_name=icc_soup.find_all('td',class_='table-body__cell rankings-table__name name')

for i in player_name:
    column_name.append(i.text.strip())
column_name=column_name[0:10]
print(column_name)

['Babar Azam', 'Virat Kohli', 'Rohit Sharma', 'Ross Taylor', 'Aaron Finch', 'Jonny Bairstow', 'Fakhar Zaman', 'Francois du Plessis', 'David Warner', 'Shai Hope']

In [63]:
player_country=icc_soup.find_all('div',class_='rankings-block__banner--nationality')

column_country=[]
for i in player_country:
    column_country.append(i.text.strip())

player_country=icc_soup.find_all('td',class_='table-body__cell nationality-logo rankings-table__team')

for i in player_country:
    column_country.append(i.text.strip())
column_country=column_country[0:10]
print(column_country)

['PAK', 'IND', 'IND', 'NZ', 'AUS', 'ENG', 'PAK', 'SA', 'AUS', 'WI']

In [64]:
player_rating=icc_soup.find_all('div',class_='rankings-block__banner--rating')

column_rating=[]
for i in player_rating:
    column_rating.append(i.text.strip())

player_rating=icc_soup.find_all('td',class_='table-body__cell rating')

for i in player_rating:
    column_rating.append(i.text.strip())
column_rating=column_rating[0:10]
print(column_rating)

['865', '857', '825', '801', '791', '785', '778', '778', '773', '773']

In [65]:
import pandas as pd
MenBatsman10=pd.DataFrame({})
MenBatsman10['Names']=column_name
MenBatsman10['Team']=column_country
MenBatsman10['Rating']=column_rating

MenBatsman10

                 Names Team Rating
0           Babar Azam  PAK    865
1          Virat Kohli  IND    857
2         Rohit Sharma  IND    825
3          Ross Taylor   NZ    801
4          Aaron Finch  AUS    791
5       Jonny Bairstow  ENG    785
6         Fakhar Zaman  PAK    778
7  Francois du Plessis   SA    778
8         David Warner  AUS    773
9            Shai Hope   WI    773

## **iii) Top 10 ODI bowlers along with the records of their team and rating.**

In [71]:
icc_page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
print(icc_page)

icc_soup=BeautifulSoup(icc_page.content)

<Response [200]>

In [73]:
player_name=icc_soup.find_all('div',class_='rankings-block__banner--name-large')

column_name=[]

for i in player_name:
    column_name.append(i.text.strip())

player_name=icc_soup.find_all('td',class_='table-body__cell rankings-table__name name')

for i in player_name:
    column_name.append(i.text.strip())
column_name=column_name[0:10]
print(column_name)

['Trent Boult', 'Mehedi Hasan', 'Mujeeb Ur Rahman', 'Matt Henry', 'Jasprit Bumrah', 'Kagiso Rabada', 'Chris Woakes', 'Josh Hazlewood', 'Pat Cummins', 'Mustafizur Rahman']

In [86]:
player_country=icc_soup.find_all('div',class_='rankings-block__banner--nationality')

column_country=[]
for i in player_country:
    column_country.append(i.text.strip().replace('\n',''))


player_country=icc_soup.find_all('td',class_='table-body__cell nationality-logo rankings-table__team')

for i in player_country:
    column_country.append(i.text.strip())
column_country=column_country[0:10]
print(column_country)

['NZ', 'BAN', 'AFG', 'NZ', 'IND', 'SA', 'ENG', 'AUS', 'AUS', 'BAN']

In [87]:
player_rating=icc_soup.find_all('div',class_='rankings-block__banner--rating')

column_rating=[]
for i in player_rating:
    column_rating.append(i.text.strip())
column_rating

player_rating=icc_soup.find_all('td',class_='table-body__cell rating')

for i in player_rating:
    column_rating.append(i.text.strip())
column_rating=column_rating[0:10]
column_rating

['737', '713', '708', '691', '690', '666', '665', '660', '646', '645']

In [88]:
import pandas as pd
MenBowler10=pd.DataFrame({})
MenBowler10['Names']=column_name
MenBowler10['Team']=column_country
MenBowler10['Rating']=column_rating

MenBowler10

               Names Team Rating
0        Trent Boult   NZ    737
1       Mehedi Hasan  BAN    713
2   Mujeeb Ur Rahman  AFG    708
3         Matt Henry   NZ    691
4     Jasprit Bumrah  IND    690
5      Kagiso Rabada   SA    666
6       Chris Woakes  ENG    665
7     Josh Hazlewood  AUS    660
8        Pat Cummins  AUS    646
9  Mustafizur Rahman  BAN    645

## **6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape: i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.**

In [89]:
icc_page=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
print(icc_page)

icc_soup=BeautifulSoup(icc_page.content)

<Response [200]>

In [91]:
team_name=icc_soup.find_all('span',class_='u-hide-phablet')

column_team=[]
for i in team_name:
    column_team.append(i.text.strip('[]'))
column_team=column_team[:10]  
print(column_team)

['Australia', 'South Africa', 'England', 'India', 'New Zealand', 'West Indies', 'Pakistan', 'Bangladesh', 'Sri Lanka', 'Ireland']

In [92]:
team_matches=icc_soup.find_all('td',class_='rankings-block__banner--matches')

column_matches=[]
for i in team_matches:
    column_matches.append(i.text.strip())
column_matches

team_match=icc_soup.find_all('td',class_='table-body__cell u-center-text')

for i in range(0,len(team_match),2):
    column_matches.append(team_match[i].text.strip())
column_matches=column_matches[0:10]
print(column_matches)

['18', '24', '17', '20', '21', '12', '15', '5', '11', '2']

In [93]:
team_points=icc_soup.find_all('td',class_='rankings-block__banner--points')
team_match=icc_soup.find_all('td',class_='table-body__cell u-center-text')


column_points=[]
for i in team_points:
    column_points.append(i.text.strip())
column_points

for i in range(1,len(team_match),2):
    column_points.append(team_match[i].text.strip())
column_points=column_points[0:10]
print(column_points)

['2,955', '2,828', '1,993', '2,226', '1,947', '1,025', '1,101', '306', '519', '25']

In [94]:
team_rating=icc_soup.find_all('td',class_='rankings-block__banner--rating u-text-right')

column_rating=[]
for i in team_rating:
    column_rating.append(i.text.strip())


team_rating=icc_soup.find_all('td',class_='table-body__cell u-text-right rating')

for i in team_rating:
    column_rating.append(i.text.strip())
column_rating=column_rating[0:10]
column_rating

['164', '118', '117', '111', '93', '85', '73', '61', '47', '13']

In [95]:
import pandas as pd
WomenTeam10=pd.DataFrame({})
WomenTeam10['Team']=column_team
WomenTeam10['Matches']=column_matches
WomenTeam10['Points']=column_points
WomenTeam10['Ratings']=column_rating

WomenTeam10

           Team Matches Points Ratings
0     Australia      18  2,955     164
1  South Africa      24  2,828     118
2       England      17  1,993     117
3         India      20  2,226     111
4   New Zealand      21  1,947      93
5   West Indies      12  1,025      85
6      Pakistan      15  1,101      73
7    Bangladesh       5    306      61
8     Sri Lanka      11    519      47
9       Ireland       2     25      13

## **ii) Top 10 women’s ODI players along with the records of their team and rating.**

In [96]:
icc_page=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
print(icc_page)

icc_soup=BeautifulSoup(icc_page.content)

<Response [200]>

In [97]:
player_name=icc_soup.find_all('div',class_='rankings-block__banner--name-large')

column_name=[]
for i in player_name:
    column_name.append(i.text.strip())

player_name=icc_soup.find_all('td',class_='table-body__cell rankings-table__name name')

for i in player_name:
    column_name.append(i.text.strip())
column_name=column_name[0:10]
print(column_name)

['Tammy Beaumont', 'Lizelle Lee', 'Alyssa Healy', 'Stafanie Taylor', 'Meg Lanning', 'Amy Satterthwaite', 'Smriti Mandhana', 'Mithali Raj', 'Natalie Sciver', 'Laura Wolvaardt']

In [98]:
player_country=icc_soup.find_all('div',class_='rankings-block__banner--nationality')

column_country=[]
for i in player_country:
    column_country.append(i.text.strip())

player_country=icc_soup.find_all('td',class_='table-body__cell nationality-logo rankings-table__team')

for i in player_country:
    column_country.append(i.text.strip())
column_country=column_country[0:10]
print(column_country)

['ENG', 'SA', 'AUS', 'WI', 'AUS', 'NZ', 'IND', 'IND', 'ENG', 'SA']

In [99]:
player_rating=icc_soup.find_all('div',class_='rankings-block__banner--rating')

column_rating=[]
for i in player_rating:
    column_rating.append(i.text.strip())

player_rating=icc_soup.find_all('td',class_='table-body__cell rating')

for i in player_rating:
    column_rating.append(i.text.strip())
column_rating=column_rating[0:10]
print(column_rating)

['765', '758', '756', '746', '723', '715', '710', '709', '685', '683']

In [100]:
import pandas as pd
WomanBatsman10=pd.DataFrame({})
WomanBatsman10['Names']=column_name
WomanBatsman10['Team']=column_country
WomanBatsman10['Rating']=column_rating

WomanBatsman10

               Names Team Rating
0     Tammy Beaumont  ENG    765
1        Lizelle Lee   SA    758
2       Alyssa Healy  AUS    756
3    Stafanie Taylor   WI    746
4        Meg Lanning  AUS    723
5  Amy Satterthwaite   NZ    715
6    Smriti Mandhana  IND    710
7        Mithali Raj  IND    709
8     Natalie Sciver  ENG    685
9    Laura Wolvaardt   SA    683

## **iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.**

In [101]:
icc_page=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
print(icc_page)

icc_soup=BeautifulSoup(icc_page.content)

<Response [200]>

In [102]:
player_name=icc_soup.find_all('div',class_='rankings-block__banner--name-large')

column_name=[]
for i in player_name:
    column_name.append(i.text.strip())

player_name=icc_soup.find_all('td',class_='table-body__cell rankings-table__name name')

for i in player_name:
    column_name.append(i.text.strip())
column_name=column_name[0:10]
print(column_name)

['Marizanne Kapp', 'Ellyse Perry', 'Stafanie Taylor', 'Natalie Sciver', 'Deepti Sharma', 'Jess Jonassen', 'Ashleigh Gardner', 'Dane van Niekerk', 'Sophie Devine', 'Amelia Kerr']

In [103]:
player_country=icc_soup.find_all('div',class_='rankings-block__banner--nationality')

column_country=[]
for i in player_country:
    column_country.append(i.text.strip())

player_country=icc_soup.find_all('td',class_='table-body__cell nationality-logo rankings-table__team')

for i in player_country:
    column_country.append(i.text.strip())
column_country=column_country[0:10]
print(column_country)

['SA', 'AUS', 'WI', 'ENG', 'IND', 'AUS', 'AUS', 'SA', 'NZ', 'NZ']

In [104]:
player_rating=icc_soup.find_all('div',class_='rankings-block__banner--rating')

column_rating=[]
for i in player_rating:
    column_rating.append(i.text.strip())

player_rating=icc_soup.find_all('td',class_='table-body__cell rating')

for i in player_rating:
    column_rating.append(i.text.strip())
column_rating=column_rating[0:10]
print(column_rating)

['418', '418', '410', '349', '343', '307', '252', '243', '242', '236']

In [105]:
import pandas as pd
WomanAll10=pd.DataFrame({})
WomanAll10['Names']=column_name
WomanAll10['Team']=column_country
WomanAll10['Rating']=column_rating

WomanAll10

              Names Team Rating
0    Marizanne Kapp   SA    418
1      Ellyse Perry  AUS    418
2   Stafanie Taylor   WI    410
3    Natalie Sciver  ENG    349
4     Deepti Sharma  IND    343
5     Jess Jonassen  AUS    307
6  Ashleigh Gardner  AUS    252
7  Dane van Niekerk   SA    243
8     Sophie Devine   NZ    242
9       Amelia Kerr   NZ    236

## **7. Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.**

In [107]:
amazon_page=requests.get('https://www.amazon.in/Mobile-Phone-Under-20000-Rupees/s?k=Mobile+Phone+Under+20000+Rupees')
print(amazon_page)

amazon_soup=BeautifulSoup(amazon_page.content,'html.parser')

<Response [200]>

In [108]:
mobile_name=amazon_soup.find_all('span',class_='a-size-medium a-color-base a-text-normal')

column_name=[]
for i in mobile_name:
    column_name.append(i.text.split('|'))

column_names=[]
for l in column_name:
  column_names.append(l[0].strip())
column_names

['Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)',
 'Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)',
 'Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB Storage)',
 'Samsung Galaxy M12 (Blue,4GB RAM, 64GB Storage) 6000 mAh with 8nm Processor',
 'Redmi 9A (Sea Blue 3GB RAM 32GB Storage)',
 'Oppo A31 (Mystery Black, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Oppo A31 (Fantasy White, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Samsung Galaxy M12 (Blue,6GB RAM, 128GB Storage) 6000 mAh with 8nm Processor',
 'Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storage) - 48MP Quad Camera & Full HD+ Display',
 'Panasonic Eluga i7 (2GB RAM, 16GB Storage, Finger Print Sensor, 4000mAh Battery) (Black)',
 'Vivo Y91i (Fusion Black, 2GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Samsung Galaxy M12 (Black,4GB RAM, 64GB Storage) 6000 mAh with 8nm Processor',
 'Redmi 9A (Sea Blue 2GB RAM 32GB Storage)',
 'Vivo Y91i (Ocean Blue, 2GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Samsung Galaxy M12 (White,4GB RAM, 64GB Storage) 6000 mAh with 8nm Processor',
 'Redmi Note 10 (Shadow Black, 6GB RAM, 128GB Storage)']

In [109]:
mobile_price=amazon_soup.find_all('span',class_='a-price-whole')

column_price=[]
for i in mobile_price:
    column_price.append(i.text.strip())
print(column_price)

['8,799', '6,999', '14,999', '10,999', '7,499', '11,990', '11,990', '13,499', '10,999', '5,000', '7,490', '10,999', '6,999', '7,490', '10,999', '14,499']

In [110]:
mobile_image=amazon_soup.find_all('img',class_='s-image')

column_image=[]
for i in mobile_image:
    column_image.append(i['src'])
column_image

['https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71yYaNztZ0L._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71KCwNV6MuL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/61IhTtJUXJL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71yYaNztZ0L._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71X5I1cVfbL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/41QsvcpKaZL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/51ZoulFBPGL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/714QWDxXgNL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/51FnmxwFHDL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71PVpFc7FwL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/715t-uJnjMS._AC_UY218_.jpg']

In [111]:
mobile_review=amazon_soup.find_all('span',class_='a-icon-alt')

column_review=[]
for i in mobile_review:
    column_review.append(i.text.strip())
column_review=column_review[0:16]
print(column_review)

['4.2 out of 5 stars', '4.2 out of 5 stars', '4.3 out of 5 stars', '4.0 out of 5 stars', '4.2 out of 5 stars', '4.2 out of 5 stars', '4.2 out of 5 stars', '4.0 out of 5 stars', '4.3 out of 5 stars', '3.1 out of 5 stars', '4.2 out of 5 stars', '4.0 out of 5 stars', '4.2 out of 5 stars', '4.1 out of 5 stars', '4.0 out of 5 stars', '4.1 out of 5 stars']

In [112]:
import pandas as pd
AmazonMobile=pd.DataFrame({})
AmazonMobile['Names']=column_names
AmazonMobile['Price']=column_price
AmazonMobile['Image url']=column_image
AmazonMobile['Review']=column_review

AmazonMobile

                                                Names  ...              Review
0           Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)  ...  4.2 out of 5 stars
1      Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)  ...  4.2 out of 5 stars
2   Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB...  ...  4.3 out of 5 stars
3   Samsung Galaxy M12 (Blue,4GB RAM, 64GB Storage...  ...  4.0 out of 5 stars
4            Redmi 9A (Sea Blue 3GB RAM 32GB Storage)  ...  4.2 out of 5 stars
5   Oppo A31 (Mystery Black, 6GB RAM, 128GB Storag...  ...  4.2 out of 5 stars
6   Oppo A31 (Fantasy White, 6GB RAM, 128GB Storag...  ...  4.2 out of 5 stars
7   Samsung Galaxy M12 (Blue,6GB RAM, 128GB Storag...  ...  4.0 out of 5 stars
8   Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storag...  ...  4.3 out of 5 stars
9   Panasonic Eluga i7 (2GB RAM, 16GB Storage, Fin...  ...  3.1 out of 5 stars
10  Vivo Y91i (Fusion Black, 2GB RAM, 32GB Storage...  ...  4.2 out of 5 stars
11  Samsung Galaxy M12 (Black,4GB RAM, 64GB Storag...  ...  4.0 out of 5 stars
12           Redmi 9A (Sea Blue 2GB RAM 32GB Storage)  ...  4.2 out of 5 stars
13  Vivo Y91i (Ocean Blue, 2GB RAM, 32GB Storage) ...  ...  4.1 out of 5 stars
14  Samsung Galaxy M12 (White,4GB RAM, 64GB Storag...  ...  4.0 out of 5 stars
15  Redmi Note 10 (Shadow Black, 6GB RAM, 128GB St...  ...  4.1 out of 5 stars

[16 rows x 4 columns]

## **8. Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.**

In [114]:
wheather_page=requests.get('https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YLcqPBozbIV')
print(wheather_page)

wheather_soup=BeautifulSoup(wheather_page.content,'html.parser')

<Response [200]>

In [115]:
period_SF=wheather_soup.find_all('p',class_='period-name')

column_period=[]
for i in period_SF:
    column_period.append(i.text.strip())
print(column_period)

['Today', 'Tonight', 'Thursday', 'ThursdayNight', 'Friday', 'FridayNight', 'Saturday', 'SaturdayNight', 'Sunday']

In [116]:
sdescription_SF=wheather_soup.find_all('p',class_='short-desc')

column_sdescription=[]
for i in sdescription_SF:
    column_sdescription.append(i.text)
print(column_sdescription)

['Mostly Cloudythen MostlySunny andBreezy', 'Mostly Cloudyand Breezythen MostlyCloudy', 'Partly Sunnythen Sunnyand Breezy', 'Mostly Clearand Breezythen PartlyCloudy', 'Mostly Sunnythen Sunnyand Breezy', 'Mostly Clearand Breezythen MostlyClear', 'Sunny', 'Mostly Clear', 'Sunny']

In [117]:
temperature_SF=wheather_soup.find_all('p',class_='temp')

column_temperature=[]
for i in temperature_SF:
    column_temperature.append(i.text)
print(column_temperature)

['High: 63 °F', 'Low: 53 °F', 'High: 68 °F', 'Low: 53 °F', 'High: 67 °F', 'Low: 53 °F', 'High: 68 °F', 'Low: 52 °F', 'High: 67 °F']

In [118]:
description_SF=wheather_soup.find_all('div',class_='col-sm-10 forecast-text')

column_description=[]
for i in description_SF:
    column_description.append(i.text)
column_description=column_description[0:9]
column_description

['Cloudy through mid morning, then gradual clearing, with a high near 63. Breezy, with a west southwest wind 11 to 16 mph increasing to 19 to 24 mph in the afternoon. Winds could gust as high as 31 mph. ',
 'Mostly cloudy, with a low around 53. Breezy, with a west southwest wind 18 to 23 mph decreasing to 10 to 15 mph after midnight. Winds could gust as high as 30 mph. ',
 'Mostly cloudy, then gradually becoming sunny, with a high near 68. Breezy, with a southwest wind 10 to 15 mph increasing to 17 to 22 mph in the afternoon. Winds could gust as high as 29 mph. ',
 'Partly cloudy, with a low around 53. Breezy, with a west wind 18 to 23 mph decreasing to 11 to 16 mph after midnight. Winds could gust as high as 30 mph. ',
 'Mostly sunny, with a high near 67. Breezy, with a west southwest wind 9 to 14 mph increasing to 18 to 23 mph in the afternoon. Winds could gust as high as 30 mph. ',
 'Mostly clear, with a low around 53. Breezy. ',
 'Sunny, with a high near 68.',
 'Mostly clear, with a low around 52.',
 'Sunny, with a high near 67.']

In [119]:
import pandas as pd
wheather=pd.DataFrame({})
wheather['Period']=column_period
wheather['ShortDescription']=column_sdescription
wheather['Temperature']=column_temperature
wheather['Description']=column_description

wheather

          Period  ...                                        Description
0          Today  ...  Cloudy through mid morning, then gradual clear...
1        Tonight  ...  Mostly cloudy, with a low around 53. Breezy, w...
2       Thursday  ...  Mostly cloudy, then gradually becoming sunny, ...
3  ThursdayNight  ...  Partly cloudy, with a low around 53. Breezy, w...
4         Friday  ...  Mostly sunny, with a high near 67. Breezy, wit...
5    FridayNight  ...       Mostly clear, with a low around 53. Breezy.
6       Saturday  ...                        Sunny, with a high near 68.
7  SaturdayNight  ...                Mostly clear, with a low around 52.
8         Sunday  ...                        Sunny, with a high near 67.

[9 rows x 4 columns]

## **9. Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, company name, CTC, and apply date.**

In [122]:
job_page=requests.get('https://internshala.com/fresher-jobs/page-1')
print(job_page)

job_soup=BeautifulSoup(job_page.content,'html.parser')

<Response [200]>

In [123]:
job_title=job_soup.find_all('div',class_='heading_4_5 profile')

column_title=[]
for i in job_title:
    column_title.append(i.text.strip())
print(column_title)

['Research And Communications Associate', 'Data Scientist', 'Data Science Django Developer', 'Corporate Sales Associate', 'Full Stack Developer', 'Full Stack Developer (MERN)', 'Business Development Executive', 'Sales Development Representative', 'Graphic Designer', 'Operations Executive', 'Business Development Executive', 'Admission Counselor (Sales)', 'Sales And Business Development Analyst', 'Growth Hacking Digital Marketer', 'Junior Node.js Developer', 'Junior Digital Marketing Executive', 'iOS App Developer', 'Food Journalist', 'Junior Software Developer', 'Full Stack Developer', 'Business Analyst', 'Associate Full Stack Developer', 'Full Stack Engineer', 'Product Marketer', 'Business Development Executive', 'Associate - Business Development', 'Research Analyst (Economics)', 'Machine Learning Engineer', 'Business Analyst', 'Business Development Executive (Inside Sales)', 'Business Development Associate', 'Full Stack Software Engineer', 'Associate Front End Developer', 'Talent Acquisition Executive', 'Full Stack Developer', 'Backend Developer', 'Full Stack Developer', 'Junior Sales Associate', 'Digital Marketing Specialist', 'Android App Developer']

In [124]:
job_company=job_soup.find_all('div',class_='heading_6 company_name')

column_company=[]
for i in job_company:
    column_company.append(i.text.strip())
print(column_company)

['Institute For Governance, Policies & Politics', 'ProtonAutoML', 'Markytics', 'MiM-Essay', 'Wondermail', 'Project Tinker', 'Kaizen Academy', 'Amigobulls', 'Underground Movement LLP', 'Alphacore Technologies Private Limited', 'Ruhcom Enterprises Private Limited', 'Sky Education Group', "Mo's F&B Group", 'Sleep Love', 'Askadmissions.ai', 'Krivy', 'Ascentspark Software Private Limited', 'Truffle Nation', 'Habitate Technologies Private Limited', 'SoluLab', 'SoluLab', 'REPOZITORY TECHNOLOGIES PRIVATE LIMITED', 'Beehive Academy India', 'Bip', 'Tabeazy', 'Leverage Edu', 'DEX-DEFT Research And Consulting OPC Private Limited', 'AIMonk Labs Technology Limited', 'Kasper Consulting Private Limited', 'GREedge', 'PEPKIDZ LEARNING', 'Flair Labs', 'Little Big Things', 'CrewKarma', 'Codfirm', 'WebMOBI', 'TMBill Software', 'Kraftshala', 'Black Jack', 'Storlyy']

In [173]:
job_ctc=job_soup.find_all('div',class_='item_body')

column_ctc=[]
for i in job_ctc:
    column_ctc.append(i.text.strip().replace('Starts\xa0Immediately',''))

col_ctc=[]

for i in range(1,len(column_ctc),3):
  col_ctc.append(column_ctc[i])

print(col_ctc)

['3 - 4.5 LPA', '3 - 3.5 LPA', '3 - 4.5 LPA', '5 - 6.5 LPA', '4 - 7 LPA', '4 - 7.2 LPA', '4.5 - 6 LPA', '5.5 - 6.5 LPA', '3 - 5 LPA', '3 - 3.5 LPA', '3 LPA', '3 LPA', '3 - 3.1 LPA', '3 - 3.5 LPA', '3 - 4 LPA', '3 LPA', '3.6 - 7 LPA', '3 - 4.5 LPA', '5.2 - 7 LPA', '3 - 5 LPA', '3 - 4.2 LPA', '3 - 3.6 LPA', '4.2 - 8.2 LPA', '3 - 6 LPA', '3 LPA', '3.6 LPA', '3 LPA', '5 - 6.5 LPA', '3.25 - 4 LPA', '3.75 LPA', '3 - 4 LPA', '3 - 4 LPA', '3 - 5 LPA', '3 - 5 LPA', '5 - 8 LPA', '3 LPA', '3 LPA', '4 LPA', '3 - 5 LPA', '3 - 3.5 LPA']

In [171]:
col_applydate=[]

for i in range(2,len(column_ctc),3):
  col_applydate.append(column_ctc[i])

print(col_applydate)

["2 Jul' 21", "2 Jul' 21", "2 Jul' 21", "2 Jul' 21", "1 Jul' 21", "1 Jul' 21", "1 Jul' 21", "1 Jul' 21", "1 Jul' 21", "1 Jul' 21", "1 Jul' 21", "30 Jun' 21", "30 Jun' 21", "30 Jun' 21", "30 Jun' 21", "30 Jun' 21", "30 Jun' 21", "30 Jun' 21", "30 Jun' 21", "28 Jun' 21", "28 Jun' 21", "30 Jun' 21", "28 Jun' 21", "27 Jun' 21", "27 Jun' 21", "27 Jun' 21", "30 Jun' 21", "27 Jun' 21", "26 Jun' 21", "26 Jun' 21", "25 Jun' 21", "25 Jun' 21", "25 Jun' 21", "24 Jun' 21", "24 Jun' 21", "24 Jun' 21", "24 Jun' 21", "24 Jun' 21", "24 Jun' 21", "23 Jun' 21"]

In [174]:
import pandas as pd
job=pd.DataFrame({})
job['Job Title']=column_title
job['Company Name']=column_company
job['CTC']=col_ctc
job['Apply By ']=col_applydate

job

                                        Job Title  ...   Apply By
0           Research And Communications Associate  ...   2 Jul' 21
1                                  Data Scientist  ...   2 Jul' 21
2                   Data Science Django Developer  ...   2 Jul' 21
3                       Corporate Sales Associate  ...   2 Jul' 21
4                            Full Stack Developer  ...   1 Jul' 21
5                     Full Stack Developer (MERN)  ...   1 Jul' 21
6                  Business Development Executive  ...   1 Jul' 21
7                Sales Development Representative  ...   1 Jul' 21
8                                Graphic Designer  ...   1 Jul' 21
9                            Operations Executive  ...   1 Jul' 21
10                 Business Development Executive  ...   1 Jul' 21
11                    Admission Counselor (Sales)  ...  30 Jun' 21
12         Sales And Business Development Analyst  ...  30 Jun' 21
13                Growth Hacking Digital Marketer  ...  30 Jun' 21
14                       Junior Node.js Developer  ...  30 Jun' 21
15             Junior Digital Marketing Executive  ...  30 Jun' 21
16                              iOS App Developer  ...  30 Jun' 21
17                                Food Journalist  ...  30 Jun' 21
18                      Junior Software Developer  ...  30 Jun' 21
19                           Full Stack Developer  ...  28 Jun' 21
20                               Business Analyst  ...  28 Jun' 21
21                 Associate Full Stack Developer  ...  30 Jun' 21
22                            Full Stack Engineer  ...  28 Jun' 21
23                               Product Marketer  ...  27 Jun' 21
24                 Business Development Executive  ...  27 Jun' 21
25               Associate - Business Development  ...  27 Jun' 21
26                   Research Analyst (Economics)  ...  30 Jun' 21
27                      Machine Learning Engineer  ...  27 Jun' 21
28                               Business Analyst  ...  26 Jun' 21
29  Business Development Executive (Inside Sales)  ...  26 Jun' 21
30                 Business Development Associate  ...  25 Jun' 21
31                   Full Stack Software Engineer  ...  25 Jun' 21
32                  Associate Front End Developer  ...  25 Jun' 21
33                   Talent Acquisition Executive  ...  24 Jun' 21
34                           Full Stack Developer  ...  24 Jun' 21
35                              Backend Developer  ...  24 Jun' 21
36                           Full Stack Developer  ...  24 Jun' 21
37                         Junior Sales Associate  ...  24 Jun' 21
38                   Digital Marketing Specialist  ...  24 Jun' 21
39                          Android App Developer  ...  23 Jun' 21

[40 rows x 4 columns]